@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: yb-vbold;
    src: url(../public/fonts/YekanBakh/YekanBakh-Heavy.ttf);
}
@font-face {
    font-family: yb-bold;
    src: url(../public/fonts/YekanBakh/YekanBakh-Bold.ttf);
}
@font-face {
    font-family: yb-sbold;
    src: url(../public/fonts/YekanBakh/YekanBakh-Regular.ttf);
}
@font-face {
    font-family: yb-reg;
    src: url(../public/fonts/YekanBakh/YekanBakh-Light.ttf);
}
@font-face {
    font-family: peyda;
    src: url(../public/fonts/Peyda/PeydaWeb.ttf);
}
*{
    direction: rtl;
}
.upPoster{
    font-family: yb-bold;
}
input{
    font-family: yb-sbold;
    padding-top: 5px;
    padding-right: 28px;
}
.badge{
    margin-top: -40px;
    font-family: yb-reg;
}
.routes{
    display: inline-block;
    font-family: yb-bold;
    font-size: 22px;
}
.category{
    width: 392px;
    height: 99px;
    margin-top:141px;
    margin-right: 33px;
    border-radius: 19px;
    font-family: yb-vbold;
    font-size: 20.74px;
}
.c1{
    margin-right: 170px;
}